* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #031b63;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
}

.hero-content {
  width: 100%;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-text {
  flex: 1;
  color: white;
  margin-left: 80px;
  padding-left:70px;
}

.hero-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.hero-logo img {
  width: 55px;
}

.hero-logo span {
  font-size: 20px;
  font-weight: bold;
}

.hero-text h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero-text p {
  font-size: 20px;
  line-height: 1.8;
  color: #d7d7d7;
  max-width: 650px;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: #2f6df6;
  color: white;
  border: none;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 500px;
  max-width: 100%;
  object-fit: contain;
}

/* RESPONSIVE */

@media (max-width: 900px) {

  .hero {
    padding: 60px 30px;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .hero-text p {
    margin: auto;
    margin-bottom: 30px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image img {
    width: 350px;
  }
}