.video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  background: #ffffff;
  gap: 20px;
}

.video-container video {
  width: 500px;
  height: 500px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 20px;
}

.video-text {
  max-width: 500px;
  text-align: center;
}

.video-text span {
  color: #1f3f8f;
}

.video-text h2 {
  color: #1f3f8f;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
}

.video-text p {
  line-height: 1.9;
  color: #4b5563;
  font-size: 18px;
  text-align: justify;
}

/* TABLET */
@media (max-width: 768px) {
  .video-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
  }

  .video-text h2 {
    font-size: 32px;
  }
}

/* MOBILE */
@media (max-width: 425px) {
  .video-text h2 {
    font-size: 28px;
  }

  .video-text p {
    font-size: 16px;
  }

  .video-container video {
    width: 260px;
    height: 260px;
  }
}