.contact-section {
  padding: 80px;
  background: white;
}

.contact-section h2 {
  color: #2352b8;
  margin-bottom: 40px;
}

.contact-section p {
  color: #666;
  margin-bottom: 40px;
  line-height: 1.65;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

textarea {
  grid-column: span 2;
  height: 120px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 180px;
  padding: 15px;
  background: #2352b8;
  color: white;
  border: none;
  border-radius: 5px;
}

/* TABLET */
@media (max-width: 768px) {
  .contact-section {
    padding: 60px 30px;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }

  textarea {
    grid-column: span 1;
  }
}

/* MOBILE */
@media (max-width: 425px) {
  .contact-section {
    padding: 40px 20px;
  }

  .contact-form button {
    width: 100%;
  }
}